body {
  background-color: green;
  /* Image put together from online images labeled for reuse */
  background-image: url("images/hippo-bground.png");
  background-position:  25px 35px, center;
  background-repeat: no-repeat;
  font-family: 'Coiny', cursive;
}

/* avocado-themed screens ftw! */

#start-screen {
  background-color: yellow;
  border-color: green;
  border-style: solid;
  border-width: 15px;
  border-radius: 10px;
  color:  brown;
  width:  50%;
  height: auto;
  margin:  0 auto;
  padding: 10px;
  margin-top:  15%;
  text-align: center;
  box-shadow: 3px 3px 10px rgb( 85,107,47);
}

#win-screen {
  background-color: yellow;
  border-color: green;
  border-style: solid;
  border-width: 15px;
  border-radius: 10px;
  color:  brown;
  width:  50%;
  height: auto;
  margin:  0 auto;
  padding: 10px;
  margin-top:  15%;
  text-align: center;
  box-shadow: 3px 3px 10px rgb( 85,107,47);
  display: none;
}

#lose-screen {
  background-color: yellow;
  border-color: green;
  border-style: solid;
  border-width: 15px;
  border-radius: 10px;
  color:  brown;
  width:  50%;
  height: auto;
  margin:  0 auto;
  padding: 10px;
  margin-top:  15%;
  text-align: center;
  box-shadow: 3px 3px 10px rgb( 85,107,47);
  display: none;
}

#main-container {
  display: none;
}

#falling-foods {
  margin-left: 15%;
}

.foods {
  height:  130px;
  width:  130px;
  display: inline-block;
  position: absolute;
  top:  0;
  animation:  fall 6s linear infinite;
}

.foods:hover {
  cursor: pointer;
}

@keyframes fall
{
   0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

#score {
  background-color: yellow;
  border-color: green;
  border-style: solid;
  border-width: 15px;
  border-radius: 10px;
  color:  brown;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 70px;
  width: 200px;
  box-shadow: 3px 3px 10px rgb( 85,107,47)
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 28px;
  text-decoration: underline;
  text-transform: uppercase;
}

.screens-content {
  font-size: 20px;
}

#start-button {
  background-color: brown;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 7px;
  height:  60px;
  width: 110px;
  font-size: 30px;
  color: white;
  font-family: 'Coiny', cursive;
  text-shadow: 0 0 2px black;
  margin-bottom: 10px;
}

#start-button:hover {
  cursor: pointer;
}

 /* inspired by buttons from cssdeck.com */
#start-button:active {
   border-bottom-width: 3px;
 }

.replay-button {
  background-color: brown;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 7px;
  height:  75px;
  width: 160px;
  font-size: 26px;
  color: white;
  font-family: 'Coiny', cursive;
  text-shadow: 0 0 2px black;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 25px;
}

.replay-button:hover {
  cursor: pointer;
}

.replay-button:active {
  border-bottom-width: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  padding-left: 17px;
}
